<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-wm-mir</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 18 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>p4 sync //depot/sqat/...
cd /opt/usr/apps/sqat/Monolith/Walmart/Mirror
java -DsysConfig=wm_mir_config.properties -DemailConfig=mirroremailpool.properties -Dtest_suit=wmprdsanitytestsuite.xml -Dbrowser=&quot;ie&quot; -Denv=prd -jar framework.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>