<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run Walmart mirror sanity cases from wmmirrortestsuite_set1.xml</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Configure:skondapu</permission>
      <permission>hudson.model.Item.Configure:maheshvikram</permission>
      <permission>hudson.model.Item.Build:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Build:skondapu</permission>
      <permission>hudson.model.Item.Build:maheshvikram</permission>
      <permission>hudson.model.Item.Read:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Read:skondapu</permission>
      <permission>hudson.model.Item.Read:maheshvikram</permission>
      <permission>hudson.model.Item.Cancel:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Cancel:skondapu</permission>
      <permission>hudson.model.Item.Cancel:maheshvikram</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-wm-mir</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /opt/usr/apps/sqat/Monolith/Walmart/Mirror
java -DsysConfig=wm_mir_config.properties -DemailConfig=mirroremailpool.properties -Dtest_suit=wmmirrortestsuite_set1.xml -Denv=mir3 -jar framework.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>