<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Execute regression features on mirror3 branch</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:naveendnr</permission>
      <permission>hudson.model.Item.Configure:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Configure:maheshvikram</permission>
      <permission>hudson.model.Item.Build:naveendnr</permission>
      <permission>hudson.model.Item.Build:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Build:maheshvikram</permission>
      <permission>hudson.model.Item.Read:naveendnr</permission>
      <permission>hudson.model.Item.Read:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Read:maheshvikram</permission>
      <permission>hudson.model.Item.Cancel:naveendnr</permission>
      <permission>hudson.model.Item.Cancel:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Cancel:maheshvikram</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-wm-mir</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>p4 sync //depot/sqat/...
cd /opt/usr/apps/sqat/Monolith/Walmart/Mirror
java -DsysConfig=wm_mir_config.properties  -Denv=mir3 -Dtest_suit=wmtestsuite_set1.xml -DemailConfig=mirroremailpool.properties -jar framework.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>