<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-buildbox</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>30 17 2-7 1 *
30 17 17-24 1 *
30 17 31 1 *
30 17 1-6 2 *
30 17 21-27 2 *
30 17 7-13 3 *
30 17 21-27 3 *


</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /opt/usr/apps/source/Regression/bin
p4 sync /opt/usr/apps/source/Regression/bin/...
export JAVA_HOME=/opt/usr/apps/jre1.7/
ant -f db.xml current -Dhostname=sqat-postgres-reg -Dport=5433 -Dusername=sqat -Ddbname=sqatdb</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>core_reg_sync, i18n_reg_sync, wg_reg_sync, wm_reg_sync</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>