<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Configure:skondapu</permission>
      <permission>hudson.model.Item.Configure:maheshvikram</permission>
      <permission>hudson.model.Item.Build:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Build:skondapu</permission>
      <permission>hudson.model.Item.Build:maheshvikram</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Read:skondapu</permission>
      <permission>hudson.model.Item.Read:maheshvikram</permission>
      <permission>hudson.model.Item.Cancel:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Cancel:skondapu</permission>
      <permission>hudson.model.Item.Cancel:maheshvikram</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-wm-reg</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>p4 sync //depot/sqat/...
cd /opt/usr/apps/sqat/Monolith/Walmart/Regression
java -DsysConfig=wm_reg_config.properties  -Denv=stg4 -Dtest_suit=wmtestsuite_set1.xml -DemailConfig=regressionemailpool.properties  -jar framework.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>