<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>execute RV Walmart testsuite on stg8 daily at 7AM PST </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Configure:maheshvikram	</permission>
      <permission>hudson.model.Item.Configure:skondapu	</permission>
      <permission>hudson.model.Item.Build:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Build:maheshvikram	</permission>
      <permission>hudson.model.Item.Build:skondapu	</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Read:maheshvikram	</permission>
      <permission>hudson.model.Item.Read:skondapu	</permission>
      <permission>hudson.model.Item.Cancel:rajeshkudupudi</permission>
      <permission>hudson.model.Item.Cancel:maheshvikram	</permission>
      <permission>hudson.model.Item.Cancel:skondapu	</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>sqat-wm-integ</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /opt/usr/apps/sqat/Monolith/Walmart/Integration
java -DsysConfig=wm_integ_config.properties -Dtest_suit=wmrvtestsuite.xml -Denv=stg8 -DemailConfig=integrationemailpool.properties -jar framework.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>